.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.container {
  flex: 1;
  display: flex;
}

.table-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
}

.search-container {
  width: 80vw;
  align-self: flex-start;
}

.header-container {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  background-color: #2196F3;
  padding: 0 2vw;
  max-height: 10vh;
  margin-bottom: 2vh;
}

.header-text {
  color: #FAFAFA;
  font-size: 1.5em;
}

.App-body {
  background-color: #FAFAFA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

